In [1]:
# importing the dependencies
import pandas as pd

In [3]:
# importing the data into Pandas
df = pd.read_csv("./Resources/Fast_Food_Restaurants_US.csv")
df

,Unnamed: 0,address,categories,city,country,latitude,longitude,name,postalCode,province,websites
0,0,800 N Canal Blvd,American Restaurant and Fast Food Restaurant,Thibodaux,US,29.814697,-90.814742,SONIC Drive In,70301,LA,https://locations.sonicdrivein.com/la/thibodau...
1,1,800 N Canal Blvd,Fast Food Restaurants,Thibodaux,US,29.814697,-90.814742,SONIC Drive In,70301,LA,https://locations.sonicdrivein.com/la/thibodau...
2,2,206 Wears Valley Rd,Fast Food Restaurant,Pigeon Forge,US,35.803788,-83.580553,Taco Bell,37863,TN,"http://www.tacobell.com,https://locations.taco..."
3,3,3652 Parkway,Fast Food,Pigeon Forge,US,35.782339,-83.551408,Arby's,37863,TN,"http://www.arbys.com,https://locations.arbys.c..."
4,4,2118 Mt Zion Parkway,Fast Food Restaurant,Morrow,US,33.562738,-84.321143,Steak 'n Shake,30260,GA,http://www.steaknshake.com/locations/23851-ste...
...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,3460 Robinhood Rd,Fast Food Restaurants,Winston-Salem,US,36.117563,-80.316553,Pizza Hut,27106,NC,http://www.pizzahut.com
9996,9996,3069 Kernersville Rd,Fast Food Restaurants,Winston-Salem,US,36.077718,-80.176748,Pizza Hut,27107,NC,http://www.pizzahut.com
9997,9997,838 S Main St,Fast Food Restaurants,Kernersville,US,36.111015,-80.089165,Pizza Hut,27284,NC,http://www.pizzahut.com
9998,9998,1702 Glendale Dr SW,Fast Food Restaurants,Wilson,US,35.719981,-77.945795,Pizza Hut,27893,NC,http://www.pizzahut.com
9999,9999,1405 W Broad St,Fast Food Restaurants,Elizabethtown,US,34.632778,-78.624615,Pizza Hut,28337,NC,"http://www.pizzahut.com,http://api.citygridmed..."

In [5]:
# dropping the colums not required for the cluster map
df_cleaned= df.drop(columns=['Unnamed: 0','categories','city','country','postalCode','websites'])
df_cleaned

                   address   latitude  longitude            name province
0         800 N Canal Blvd  29.814697 -90.814742  SONIC Drive In       LA
1         800 N Canal Blvd  29.814697 -90.814742  SONIC Drive In       LA
2      206 Wears Valley Rd  35.803788 -83.580553       Taco Bell       TN
3             3652 Parkway  35.782339 -83.551408          Arby's       TN
4     2118 Mt Zion Parkway  33.562738 -84.321143  Steak 'n Shake       GA
...                    ...        ...        ...             ...      ...
9995     3460 Robinhood Rd  36.117563 -80.316553       Pizza Hut       NC
9996  3069 Kernersville Rd  36.077718 -80.176748       Pizza Hut       NC
9997         838 S Main St  36.111015 -80.089165       Pizza Hut       NC
9998   1702 Glendale Dr SW  35.719981 -77.945795       Pizza Hut       NC
9999       1405 W Broad St  34.632778 -78.624615       Pizza Hut       NC

[10000 rows x 5 columns]

In [11]:
#Nomarlize the names of the restaurants
df_cleaned['name'] = df_cleaned['name'].str.replace(".", "", regex=True)
df_cleaned['name'] = df_cleaned['name'].str.replace("'","", regex=True)
df_cleaned['name'] = df_cleaned['name'].str.replace(" ","", regex=True)
df_cleaned['name'] = df_cleaned['name'].str.replace(".","", regex=True)
df_cleaned['name'] = df_cleaned['name'].str.replace("-","", regex=True)
df_cleaned['name'] = df_cleaned['name'].str.replace("&","AND", regex=True)
df_cleaned['name'] = df_cleaned['name'].str.upper()

In [14]:
restaurants_count_df = df_cleaned['province'].value_counts().rename_axis('State').reset_index(name='counts')
restaurants_count_df.sort_values(by='State').set_index('State').head()

       counts
State
AK         16
AL          6
AR        102
AZ        330
CA       1201

In [7]:
restaurants_count_df

   State  counts
0     CA    1201
1     TX     811
2     FL     621
3     OH     522
4     GA     420
5     IL     405
6     PA     383
7     MI     374
8     NY     352
9     AZ     330
10    TN     302
11    NC     295
12    IN     254
13    VA     253
14    MA     205
15    LA     202
16    MN     199
17    WA     196
18    WI     189
19    SC     188
20    MD     172
21    KY     166
22    OK     166
23    MO     163
24    OR     154
25    CO     148
26    NJ     129
27    NV     121
28    IA     115
29    AR     102
30    NE      87
31    NM      78
32    KS      74
33    WV      70
34    UT      63
35    MS      55
36    CT      53
37    ID      51
38    DE      44
39    SD      42
40    MT      38
41    ND      35
42    NH      34
43    HI      32
44    WY      29
45    ME      25
46    AK      16
47    VT      15
48    RI      15
49    AL       6

In [16]:
restaurants_count_df = restaurants_count_df.rename(columns={'State': 'state_code'})
restaurants_count_df.head()

  state_code  counts
0         CA    1201
1         TX     811
2         FL     621
3         OH     522
4         GA     420

In [17]:
restaurants_count_df.to_csv("clean_data/Fast_Food_Restaurants_US_cleaned.csv", index=False, header=True)